.first, .tabs-content, .item, .bottom
  @include mq($until: tablet)
    display: flex
    flex-direction: column
    flex: 1
    height: 100%
    
.bottom
  @include mq($until: tablet)
    justify-content: flex-end
