@import '@/styles/vars.sass'

.tooltip
  display: block !important
  z-index: 10000
  max-width: 250px
  +font(400)
  font-size: 14px
  line-height: 21px
  color: #2C2C2C

  .tl-bold
    font-weight: 600

  .tooltip-inner
    background: $white
    box-shadow: 0px 4px 30px rgba(76, 92, 109, 0.15)
    border-radius: 8px
    padding: 14px

  .tooltip-arrow
    width: 0
    height: 0
    border-style: solid
    position: absolute
    margin: 5px
    border-color: $white
    z-index: 1

  &[x-placement^="top"]
    margin-bottom: 5px

    .tooltip-arrow
      border-width: 5px 5px 0 5px
      border-left-color: transparent !important
      border-right-color: transparent !important
      border-bottom-color: transparent !important
      bottom: -5px
      left: calc(50% - 5px)
      margin-top: 0
      margin-bottom: 0

  &[x-placement^="bottom"]
    margin-top: 5px

    .tooltip-arrow
      border-width: 0 5px 5px 5px
      border-left-color: transparent !important
      border-right-color: transparent !important
      border-top-color: transparent !important
      top: -5px
      left: calc(50% - 5px)
      margin-top: 0
      margin-bottom: 0

  &[x-placement^="right"]
    margin-left: 5px

    .tooltip-arrow
      border-width: 5px 5px 5px 0
      border-left-color: transparent !important
      border-top-color: transparent !important
      border-bottom-color: transparent !important
      left: -5px
      top: calc(50% - 5px)
      margin-left: 0
      margin-right: 0

  &[x-placement^="left"]
    margin-right: 5px

    .tooltip-arrow
      border-width: 5px 0 5px 5px
      border-top-color: transparent !important
      border-right-color: transparent !important
      border-bottom-color: transparent !important
      right: -5px
      top: calc(50% - 5px)
      margin-left: 0
      margin-right: 0

  &.popover
    .popover-inner
      background: #f9f9f9
      color: black
      padding: 24px
      border-radius: 5px
      box-shadow: 0 5px 30px rgba(black, 0.1)

    .popover-arrow
      border-color: #f9f9f9

    .critical
      .popover-inner
        background: $critical
      .popover-arrow
        border-color: $critical

  &[aria-hidden='true']
    visibility: hidden
    opacity: 0
    transition: opacity .15s, visibility .15s

  &[aria-hidden='false']
    visibility: visible
    opacity: 1
    transition: opacity .15s
