<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="As an asset-liability tool and forking Compound, Reserve Lending Platform gives us a number of competitive advantages over companies that only use two-panel supply-and-borrow user interfaces (e.g. AAVE, C.R.E.A.M, et al); specifically, the ability to make and take loans while incorporating our own code into the open ocean of DeFI protocols. There are only a few live products like this in existence. Provisional patents will be filed covering this and other technologies we develop along the way.">
    <meta property=og:image content=https://unfederalreserve.com/static/img/sharing-image.png>
    <meta property=og:type content=website>
    <meta property=og:title content="eRSDL \|  unFederalReserve \| Platform for B2B lenders that finance B2C lenders">
    <meta property=og:description content="eRSDL is a crypto token that enables treasury management solution for reporting, projecting, and managing cash. Access overnight capital from a trusted network of companies like yours!">
    <meta property=og:url content=https://lending.unfederalreserve.com>
    <meta property=fb:app_id content=2160947010638552>
    <link rel="shortcut icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-T2SSBGZ');</script>
<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T2SSBGZ" height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </body>
</html>
