<template>
  <div v-show="!loader" class="home">
    <PageHomeHeader
      :totalSupply="totalSupply"
      :totalBorrow="totalBorrow"
      :apy="netApy"
    />
    <div class="home__markets-wrapper">
      <img
        class="home__whale-img"
        :src="require('@/assets/whale.svg')"
        alt="whale"
      />
      <div v-if="ethAccount && isConnectionSupport" class="home__markets">
        <div v-if="isRefreshing" class="home__markets-loader" />

        <div class="home__market">
          <TheUserMarket
            v-if="userSuppliedMarket.length"
            title="My Supply"
            :title-info="supplyMarketInfo"
            collateral
            isSupply
            :items="userSuppliedMarket"
          />

          <TheMarket
            title="All Supply Markets"
            collateral
            isSupply
            :items="supplyMarket"
          />
        </div>

        <div class="home__market">
          <TheUserMarket
            v-if="userBorrowedMarket.length"
            title="My Borrowings"
            :title-info="borrowMarketInfo"
            collateral
            :items="userBorrowedMarket"
          />

          <TheMarket
            title="All Borrow Markets"
            collateral
            :items="borrowMarket"
          />
        </div>
      </div>

      <MobileMarket
        v-if="ethAccount && isConnectionSupport"
        :supply-market="supplyMarket"
        :user-supplied-market="userSuppliedMarket"
        :user-borrowed-market="userBorrowedMarket"
        :borrow-market="borrowMarket"
      />

      <div v-if="!ethAccount || !isConnectionSupport" class="no-connection">
        <div class="no-connection__title">{{ noConnectionTittle }}</div>
        <div
          v-html="noConnectionDescription"
          class="no-connection__description"
        />
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
import PageHomeHeader from "@/components/PageHomeHeader/PageHomeHeader";
import TheUserMarket from "@/components/TheMarket/TheUserMarket";
import TheMarket from "@/components/TheMarket/TheMarket";
import MobileMarket from "@/components/TheMarket/MobileMarket";
import { Ctoken, Comptroller, CompoundLens, Token, isEther } from "@/global/ContractsAPI";
import { mapActions, mapGetters } from "vuex";
import eventBus from "@/global/eventBus";
import Big from "big.js";
import { getTotalEarned } from "@/global/api";
import CONFIG from "@/config/env";
import { infoTooltips } from "@/mixins/infoTooltips";


export default {
  name: "Home",
  components: {
    PageHomeHeader,
    TheMarket,
    TheUserMarket,
    MobileMarket
  },
  mixins: [infoTooltips],
  data() {
    return {
      supplyMarket: [],
      userSuppliedMarket: [],
      borrowMarket: [],
      userBorrowedMarket: [],
      cl: null,
      ethMantissa: 1e18,
      blocksPerDay: 4 * 60 * 24,
      daysPerYear: 365,
      comptroller: null,
      cTokenAddrList: [],
      market: [],
      isRefreshing: false,
    };
  },
  computed: {
    ...mapGetters("global", [
      "web3",
      "ethAccount",
      "ersdlPrice",
      "chainId",
      "networkId",
      "network",
      "loader",
      "netApy",
      "totalBorrow",
      "totalSupply"
    ]),
    isConnectionSupport() {
      return +CONFIG.NETWORK_ID === this.networkId && +CONFIG.CHAIN_ID === this.chainId;
    },
    noConnectionTittle() {
      return !this.ethAccount ? "Please connect a wallet" : !this.isConnectionSupport ? "We are still in beta." : "";
    },
    noConnectionDescription() {
      return !this.ethAccount ? "We are unable to show you any data until you connect your wallet" :
        !this.isConnectionSupport ? "Please switch your wallet to rinkenby network. You can get an eth <a href='https://faucet.rinkeby.io/' target='_blank'>here</a> or "
          + "<a href='https://github.com/UnFederalReserve/unfederalreserve.com/discussions/43' target='_blank'>send us a message </a> "
          + "and we will find some eth for you" : "";
    },
  },
  watch: {
    ethAccount: function(newValue) {
      if (newValue) {
        this.comptroller = new Comptroller(newValue);
        this.cl = new CompoundLens(newValue);
        this.init();
      }
    }
  },
  methods: {
    ...mapActions("global", [
      "setTotalBorrow",
      "setState",
      "setLoader"
    ]),

    calculateAPY(ratePerBlock) {
      // todo: ethMantissa for everything or not
      const apy =
        (Math.pow(
          (ratePerBlock / this.ethMantissa) * this.blocksPerDay + 1,
          this.daysPerYear
          ) -
          1) *
        100;

      return +apy.toFixed(2);
    },
    calculateTotals(market) {
      const totalSupply = market.reduce(
        (acc, current) => acc + current.fiatSupply,
        0
      );
      const totalBorrow = market.reduce(
        (acc, current) => acc + current.fiatBorrow,
        0
      );

      const totalEarning = market.reduce(
        (acc, current) => current.supplyBalance == 0
          ? acc
          : acc + current.fiatSupply * current.supplyApy / 100,
        0
      );
      const totalSpending = market.reduce(
        (acc, current) => current.borrowBalance == 0
          ? acc
          : acc + current.fiatBorrow * current.borrowApy / 100,
        0
      );

      let netApy = totalSupply === 0 ? 0 : (totalEarning - totalSpending) * 100 / totalSupply;
      netApy = Math.round((netApy + Number.EPSILON) * 100) / 100;

      this.setState({
        netApy,
        totalBorrow,
        totalSupply,
      });
    },
    async mergeTokenData(balances, prices, metadata, totalEarned) {
      return metadata.map(async (data) => {
        const isEth = await isEther(data.cToken);
        const price = prices.find(p => p.cToken === data.cToken);
        const balance = balances.find(b => b.cToken === data.cToken);
        const сTokenContract = new Ctoken(data.cToken, this.ethAccount, isEth);
        const cTokenData = Object.assign({}, data);

        let token = null;

        if (!isEth) {
          cTokenData.token = data.underlyingAssetAddress;
          token = new Token(cTokenData.token);
          cTokenData.symbol = await token.methods.symbol().call();
          cTokenData.name = await token.methods.name().call();
        } else {
          // For eth cToken = tokenun
          cTokenData.token = data.cToken;
          cTokenData.symbol = "ETH";
          cTokenData.name = "ETH";
        }

        cTokenData.cName = await сTokenContract.methods.name().call();
        cTokenData.totalBorrows = await сTokenContract.methods.totalBorrows().call();
        cTokenData.totalSupply = await сTokenContract.methods.totalSupply().call();
        cTokenData.exchangeRateStored = await сTokenContract.methods.exchangeRateStored().call();
        cTokenData.liquidity = await сTokenContract.getCash();

        cTokenData.isEnteredTheMarket = await this.comptroller.checkMembership(data.cToken);
        cTokenData.supplyAllowed = !(await this.comptroller.methods.mintGuardianPaused(data.cToken).call());
        cTokenData.borrowAllowed = !(await this.comptroller.methods.borrowGuardianPaused(data.cToken).call());
        cTokenData.underlyingPrice = price.underlyingPrice;
        cTokenData.tokenBalance = balance.tokenBalance;
        cTokenData.tokenAllowance = balance.tokenAllowance;
        cTokenData.borrowBalance = balance.borrowBalanceCurrent;
        cTokenData.supplyBalance = balance.balanceOfUnderlying;
        cTokenData.balanceOf = balance.balanceOf;
        cTokenData.earnedUsd = totalEarned?.usd[data.cToken] || 0;
        cTokenData.earnedUnderlying = totalEarned?.underlying[data.cToken] || 0;

        return cTokenData;
      });
    },
    convertFrom(value, decimalValue) {
      return Big(value).div(decimalValue);
    },
    convertValues(item) {
      const decimalValue = Big(10).pow(+item.underlyingDecimals);

      item.balance = this.convertFrom(item.tokenBalance, decimalValue);
      item.supply = this.convertFrom(item.supplyBalance, decimalValue);
      item.borrow = this.convertFrom(item.borrowBalance, decimalValue);

      item.supplyApy = this.calculateAPY(item.supplyRatePerBlock);
      item.borrowApy = this.calculateAPY(item.borrowRatePerBlock);

      item.liquidity = this.convertToUSD(item.liquidity, item.underlyingPrice, item.underlyingDecimals);
      item.tokenUsdValue = this.convertToUSD(Math.pow(10, item.underlyingDecimals), item.underlyingPrice, item.underlyingDecimals);

      item.fiatSupply =
        item.underlyingPrice == 0
          ? 0
          : this.convertToUSD(item.supplyBalance, item.underlyingPrice, item.underlyingDecimals);

      item.fiatBorrow =
        item.underlyingPrice == 0
          ? 0
          : this.convertToUSD(item.borrowBalance, item.underlyingPrice, item.underlyingDecimals);
    },
    convertToUSD(value, underlyingPrice, tokenDecimals) {
      const oracleMantissa = Big(10).pow(18);
      const decimalValue = Big(10).pow(+tokenDecimals);
      const mantisa = Big(10).pow(18 - tokenDecimals);

      const usdValue = Big(value)
        .times(underlyingPrice)
        .div(decimalValue)
        .div(oracleMantissa)
        .div(mantisa);

      return usdValue.toNumber();
    },
    async getTokenData(cToken) {
      return await this.cl.getcTokenData(cToken);
    },
    async setRewardsInfo() {
      const ersdl = this.market.find(token => token.symbol === "eRSDL");
      const balance = await this.cl.getCompBalance(ersdl.token);

      await this.setState({
        ersdlPrice: ersdl.underlyingPrice,
        unclaimedRewards: balance.allocated / this.ethMantissa,
        ersdlBalance: balance.balance / this.ethMantissa
      });
    },
    async calculateDistributionApy(item) {
      const compSpeeds = await this.comptroller.getCompSpeeds(item.cToken);
      const tmp = compSpeeds * 100 * 4 * 60 * 24 * 365 * this.ersdlPrice;

      const supplyDistributionApy = +item.totalSupply
        ? (tmp * this.ethMantissa) / (item.totalSupply * item.exchangeRateStored * item.underlyingPrice)
        : 0;
      item.supplyDistributionApy = !supplyDistributionApy ? 0 : supplyDistributionApy;

      const borrowDistributionApy = +item.totalBorrows
        ? tmp / (item.totalBorrows * item.underlyingPrice)
        : 0;
      item.borrowDistributionApy = !borrowDistributionApy ? 0 : borrowDistributionApy;
    },
    async init() {
      if (!this.isConnectionSupport) {
        this.setLoader(false);

        return;
      }

      if (!this.isRefreshing) {
        this.setLoader(true);
      }

      this.cTokenAddrList = await this.comptroller.getAllMarkets();
      const сTokensBalances = await this.cl.getBalanceAll(this.cTokenAddrList);
      const underlyingPrices = await this.cl.getUnderlyingPriceAll(this.cTokenAddrList);
      const totalEarned = await getTotalEarned(this.ethAccount);
      const сTokensDataTasks = this.cTokenAddrList.map(this.getTokenData);
      const cTokensDataResults = await Promise.all(сTokensDataTasks);

      let market = await this.mergeTokenData(
        сTokensBalances,
        underlyingPrices,
        cTokensDataResults,
        totalEarned
      );
      market = await Promise.all(market);
      market.forEach(this.convertValues);

      this.market = market;

      await this.setRewardsInfo();

      const apyPromises = market.map(this.calculateDistributionApy);
      await Promise.all(apyPromises);

      this.calculateTotals(market);

      let { 1: liquidity } = await this.comptroller.getAccountLiquidity();
      liquidity = liquidity / 1e18;

      const borrowLimit = liquidity + this.totalBorrow;

      this.setState({ liquidity, borrowLimit });

      market = market.sort((a, b) => a.symbol.localeCompare(b.symbol));

      this.supplyMarket = market.filter(market => market.supplyAllowed && market.supplyBalance == 0);

      this.userSuppliedMarket = market.filter(
        market => market.supplyBalance > 0
      );

      this.borrowMarket = market.filter(market => market.borrowAllowed && market.borrowBalance == 0);

      this.userBorrowedMarket = market.filter(
        market => market.borrowBalance > 0
      );

      const tokensGeneratingRewards = market.filter(
        market =>
          (market.supplyBalance > 0 && market.supplyDistributionApy > 0) ||
          (market.borrowBalance > 0 && market.borrowDistributionApy > 0)
      )
      .map(market => market.cToken);

      this.setState({ tokensGeneratingRewards });

      this.setLoader(false);
      this.isRefreshing = false;
    }
  },
  mounted() {
    if (this.ethAccount) {
      this.setLoader(true);
      this.comptroller = new Comptroller(this.ethAccount);
      this.cl = new CompoundLens(this.ethAccount);
      this.init();
    }

    eventBus.$on("market:refresh", () => {
      this.isRefreshing = true;
      this.init();
    });

    eventBus.$on("balance:refresh", this.setRewardsInfo);

    setInterval(() => {
      this.isRefreshing = true;
      this.init();
    }, 1000 * 60);
  }
};
</script>

<style lang="sass">
@import '@/styles/vars.sass'

.home
  &__markets-wrapper
    position: relative
    z-index: 3
    margin-top: 50px
    padding-top: 100px
    padding-bottom: 60px
    background-image: url(~@/assets/2.svg)
    background-size: cover
    background-repeat: no-repeat
    background-position: 0 170px
    min-height: calc(100vh - 338px - 95px)

    @include mq($from: desktop)
      margin-top: 100px

    @media screen and (min-width: 2560px)
      background-position: 0 270px

    &:before
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 170px
      background-image: url(~@/assets/1.svg)
      background-size: cover
      background-repeat: no-repeat
      background-position: top center
      z-index: 1

      @media screen and (min-width: 2560px)
        height: 270px

      @include mq($until: desktop)
        background-position-x: 10%

  &__markets
    position: relative
    max-width: 1170px
    margin: 0 auto
    display: none

    @include mq($from: desktop)
      display: flex
      justify-content: center

  &__market
    display: flex
    flex-direction: column
    flex: 1 1 50%
    align-items: center
    @include mq(desktop)
      margin: 10px

    .market,
    .user-market
      width: 100%
      max-width: 540px

  &__whale-img
    display: none
    position: absolute
    right: 10%
    z-index: 2
    top: -40px

    @include mq($from: tablet)
      display: block

  &__markets-loader
    position: absolute
    width: 96%
    height: 98%
    z-index: 9999
    margin-top: 10px
    opacity: 0.5
    background-color: rgb(4 39 81)
    border-radius: 12px

    &::after
      content: ''
      display: block
      position: absolute
      left: 48%
      top: 40%
      width: 40px
      height: 40px
      border: 3px solid black
      border-top-color: #6CC4EE
      border-width: 3px
      border-radius: 50%
      animation: spin .8s linear infinite

  .no-connection
    position: relative
    z-index: 99
    width: 500px
    margin: 0 auto
    margin-top: 60px
    padding: 40px 30px
    background: rgba(0, 0, 0, 0.2)
    box-shadow: 0px 0px 20px rgb(56 71 109 / 3%)
    border-radius: 12px
    line-height: 110%
    text-align: center
    color: #fff

    &__description
      +font(400)
      font-size: 15px

    &__title
      +font(600)
      margin-bottom: 25px
      font-size: 18px

    a
      color: $yellowLink
      padding-bottom: 0
      &:hover
        text-decoration: underline
        text-decoration-color: $yellowLink

    @include mq($until: tablet)
      width: 90%

@keyframes spin
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)


</style>
