<template>
  <div class="ui">
    <h1>UI Elements</h1>
    <BaseBtn>Unlock wallet</BaseBtn>
    <BaseBtn outlined>Video instruction</BaseBtn>
  </div>
</template>

<script>
// @ is an alias to /src
import BaseBtn from "@/components/Base/BaseBtn.vue";

export default {
  name: "Ui",
  components: {
    BaseBtn
  }
};
</script>
