<template>
  <div class="PageHomeHeader home-header">
    <div class="home-header-illustration"></div>
    <div class="home-header-wrap">
      <div class="home-header-wrap__balance left">
        <span
          >Supply Balance
          <BaseInfoBtn :tooltip="totalSupplyBalanceInfo" />
        </span>
        <span class="balance">{{ beautifyNumber(totalSupply, true) }}</span>
      </div>
      <div class="home-header-wrap__net-apy">
        <div class="wrap">
          <div class="value">
            {{ apy }}%
            <BaseInfoBtn :tooltip="netApyInfo" />
          </div>
          <div class="text">Net APY</div>
        </div>
      </div>
      <div class="home-header-wrap__balance right">
        <span
          >Borrow Balance
          <BaseInfoBtn :tooltip="borrowBalanceInfo" />
        </span>
        <span class="balance">{{ beautifyNumber(totalBorrow, true) }}</span>
      </div>
    </div>
  </div>
</template>

<script>
import { beautifyNumber } from "@/global/utils";
import { infoTooltips } from "@/mixins/infoTooltips";

export default {
  name: "PageHomeHeader",
  props: {
    totalSupply: Number,
    totalBorrow: Number,
    apy: Number
  },
  mixins: [infoTooltips],
  methods: {
    beautifyNumber
  }
};
</script>

<style lang="sass">
@import '@/styles/vars.sass'

.home-header
  &-illustration
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 338px
    background-image: url(~@/assets/mobile-header-background.svg)
    background-repeat: no-repeat
    z-index: 1

    @include mq($from: desktop)
      background-image: url(~@/assets/backbround-illustration.svg)
      background-position: center

  &-wrap
    width: 100%
    max-width: 850px
    margin: 0 auto
    display: flex
    flex-direction: column
    align-items: flex-end

    @include mq($from: desktop)
      flex-direction: row
      justify-content: space-between


    &__balance
      top: 20px
      width: 200px
      background-size: 125%
      background-position: center
      display: flex
      flex-direction: column
      align-items: flex-start
      justify-content: center
      position: relative
      z-index: 2

      @include mq($from: desktop)
        top: 40px
        width: 299px
        height: 100px
        align-items: center
        flex-direction: column

      span
        color: $primary
        font-size: 17px
        line-height: 25px
        margin-top: 0
        +font(600)

        @include mq($from: desktop)
         &:first-child
           margin-top: 32px
           font-size: 14px
           display: flex
           img
             padding-left: 5px
             &:hover
               color: $blue-2

        &.balance
          +font(700)
          font-size: 20px
          line-height: 37px
          margin-left: 5px

      &.left
        background-image: none
        span:first-child
          color: $blue-1

        @include mq($from: desktop)
          background-image: url(~@/assets/cloud-left.svg)

      &.right
        background-image: none
        margin-top: 20px
        span:first-child
          color: $orange-1

        @include mq($from: desktop)
          background-image: url(~@/assets/cloud-right.svg)

    &__net-apy
      position: absolute
      z-index: 1
      width: 100%
      height: 200px
      background-image: url(~@/assets/mobile-sun.svg)
      background-repeat: no-repeat

      @include mq($from: desktop)
        left: 50%
        top: 50px
        width: 655px
        height: 655px
        transform: translate(-50%, 0%)
        background-image: url(~@/assets/sun.svg)
        background-size: 100%

      .wrap
        position: absolute
        z-index: 2
        left: 2%
        top: 33%
        width: 100px
        text-align: center
        @include mq($from: mobile, $and: '(orientation: landscape)')
          left: 1%
        @include mq($from: tablet)
          left: 1%
        @include mq($from: desktop)
          left: 50%
          top: 35%
          width: 100px

        .value
          position: absolute
          display: flex
          align-items: center
          justify-content: center
          img
            padding-left: 5px
          color: $tundora
          +font(700)
          font-size: 20px
          line-height: 37px

          @include mq($from: desktop)
            font-size: 25px
            transform: translate(-50%, -50%)

        .text
          position: absolute
          top: 25px
          color: $tundora
          +font(600)
          font-size: 12px
          line-height: 25px
          transform: translate(50%, 20%)

          @include mq($from: desktop)
            font-size: 17px
            transform: translate(-50%, -50%)
</style>
