<template>
  <BaseModal
    @opened="onModalOpen"
    :title="symbol"
    :value="value"
    v-on="$listeners"
    v-bind="$attrs"
    arrow-title
  >
    <div class="header-row" v-if="isDisabled && !isEther">
      <img
        class="header-row__icon"
        :src="require(`@/assets/icons/${symbol}.svg`)"
        alt="token icon"
      />
      <p>
        To Supply or Repay {{ symbol }} to the Unfederal Protocol, you need to
        enable it first.
      </p>
    </div>
    <div class="value-row" v-if="!isDisabled || isEther">
      <BaseInput
        :filter="numberFilter"
        v-model="inputValue"
        ref="inputValue"
        placeholder="0"
        type="text"
        solo
      />

      <div
        v-if="isSupplyTab"
        @click="setMaxValue(balance.toFixed())"
        v-tooltip="maxButtonTooltip"
        class="value-row-label"
      >
        Max
      </div>
      <div
        v-else
        @click="setMaxValue(supplied.toFixed())"
        class="value-row-label"
      >
        Max
      </div>
    </div>
    <div class="tab-row">
      <a @click="setActiveTab(tabs.supply)" :class="{ active: isSupplyTab }">
        <span>Supply</span>
      </a>
      <a
        @click="setActiveTab(tabs.withdraw)"
        :class="{ active: isWithdrawTab }"
      >
        <span>Withdraw</span>
      </a>
    </div>

    <div class="tabs-content">
      <div class="item">
        <BaseValueList title="Supply rates" :list="supplyLimitItems" icon />
        <BaseValueList
          v-if="!isDisabled"
          title="Borrow limit"
          :list="borrowLimitItems"
        />
      </div>
      <div class="item" v-if="isSupplyTab">
        <div class="btn-row">
          <BaseBtn
            v-if="!isDisabled || isEther"
            :disabled="isDisabled || isInvalidValue || !isEnoughBalance"
            @click="supply"
          >
            {{ supplyTitle }}
          </BaseBtn>
          <BaseBtn v-else @click="enable">
            Enable
          </BaseBtn>
        </div>
        <div class="bottom-row wallet-balance">
          <span>Wallet balance</span>
          <span class="value">{{ formatBalance(balance) }} {{ symbol }}</span>
        </div>
      </div>
      <div class="item" v-if="isWithdrawTab">
        <div class="btn-row">
          <BaseBtn
            :disabled="isWithdrawDisabled || isInvalidValue"
            @click="withdraw"
          >
            {{ withdrawTitle }}
          </BaseBtn>
        </div>
        <div class="bottom-row wallet-balance">
          <span>Currently Supplying</span>
          <span class="value">{{ formatBalance(supplied) }} {{ symbol }}</span>
        </div>
      </div>
      <div v-if="isFaucetVisible" class="bottom-row">
        <a
          href="javascript:void(0)"
          @click="allocate"
          :class="{ active: isSupplyTab }"
        >
          <span>Faucet</span>
        </a>
      </div>
    </div>
  </BaseModal>
</template>

<script>
/* global web3 */
import { mapActions, mapGetters } from "vuex";
import BaseModal from "@/components/Base/BaseModal";
import BaseBtn from "@/components/Base/BaseBtn.vue";
import BaseValueList from "@/components/Base/BaseValueList";
import BaseInput from "@/components/Base/BaseInput";
import { REG } from "@/config/constants";
import {
  Token,
  Ctoken,
  FaucetToken,
  Comptroller,
  isEther
} from "@/global/ContractsAPI";
import Big from "big.js";
import eventBus from "@/global/eventBus";
import {
  formatToCurrency,
  formatToNumber,
  formatBalance
} from "@/global/utils";
import { inputNumbers } from "@/mixins/inputNumbers";
import { infoTooltips } from "@/mixins/infoTooltips";

const TABS = { supply: 1, withdraw: 2 };

export default {
  name: "SupplyModal",
  components: {
    BaseModal,
    BaseBtn,
    BaseValueList,
    BaseInput
  },
  props: {
    symbol: String,
    name: String,
    value: Boolean,
    token: String,
    cToken: String,
    enteredMarket: Boolean,
    ethAccount: String,
    balance: Object,
    supplied: Object,
    supplyApy: Number,
    tokenUsdValue: Number,
    distributionApy: Number,
    collateralMantissa: Number,
    exchangeRateCurrent: String,
    isAllowed: Boolean
  },
  data() {
    return {
      activeTab: TABS.supply,
      tabs: TABS,
      inputValue: "",
      cTokenContract: null,
      faucetContract: null,
      numberFilter: REG.NUMBER_INPUT
    };
  },
  mixins: [inputNumbers, infoTooltips],
  computed: {
    ...mapGetters("global", ["totalBorrow", "borrowLimit", "networkId"]),

    isFaucetVisible() {
      return this.networkId === 4;
    },
    isMaxValueSet() {
      const value =
        this.activeTab === TABS.supply ? this.balance : this.supplied;

      return value.toFixed().substring(0, 16) == this.inputValue;
    },
    isSupplyTab() {
      return this.activeTab === TABS.supply;
    },
    isWithdrawTab() {
      return this.activeTab === TABS.withdraw;
    },
    isDisabled() {
      return !this.isAllowed && !this.isEther;
    },
    supplyTitle() {
      return this.isEnoughBalance ? "Supply" : "Insufficient wallet balance";
    },
    withdrawTitle() {
      return this.isWithdrawDisabled ? "Insufficient liquidity" : "Withdraw";
    },
    isWithdrawDisabled() {
      if (!this.enteredMarket && !this.isEther) return false;

      return (
        this.isDisabled ||
        !Number(this.inputValue) ||
        this.supplied.lt(+this.inputValue) ||
        this.hypotheticalBoromLimitUsed >= 100
      );
    },
    isEther() {
      return this.symbol === "ETH";
    },
    isEnoughBalance() {
      return this.balance.gte(+this.inputValue);
    },
    isInvalidValue() {
      return !new RegExp(REG.NUMBER).test(this.inputValue);
    },
    newBorrowLimit() {
      if (!this.inputValue) return 0;
      if (!this.enteredMarket) return this.borrowLimit;

      if (this.isSupplyTab) {
        return this.borrowLimit + this.inputValueUsd * this.collateralMantissa;
      }

      return this.borrowLimit - this.inputValueUsd * this.collateralMantissa;
    },
    inputValueUsd() {
      return this.inputValue * this.tokenUsdValue;
    },
    hypotheticalCollateralSupply() {
      if (!this.inputValue) return 0;

      if (this.isSupplyTab) {
        return this.borrowLimit + this.inputValueUsd;
      }

      return this.borrowLimit - this.inputValueUsd;
    },
    currentDistributionApy() {
      if (this.distributionApy && typeof this.distributionApy === "number") {
        return this.distributionApy.toFixed(2);
      }

      return 0;
    },
    borowLimitUsed() {
      if (this.borrowLimit) {
        const limit = (this.totalBorrow / this.borrowLimit) * 100;
        return parseFloat(limit.toFixed(2));
      }

      return 0;
    },
    hypotheticalBoromLimitUsed() {
      if (!this.hypotheticalCollateralSupply || !this.totalBorrow) return 0;
      if (this.hypotheticalCollateralSupply < 0) return 100;
      if (!this.enteredMarket) return this.borowLimitUsed;

      const limit =
        (this.totalBorrow / this.hypotheticalCollateralSupply) * 100;

      return limit > 100 ? 100 : parseFloat(limit.toFixed(2));
    },
    supplyLimitItems() {
      return [
        {
          icon: this.symbol,
          name: "Supply APY",
          fromValue: `${formatToNumber(this.supplyApy)}%`,
          info: this.supplyModalSupplyApy
        },
        {
          icon: "base",
          name: "Distribution APY",
          fromValue: `${formatToNumber(this.currentDistributionApy)}%`,
          info: this.supplyModalDistributionApy
        }
      ];
    },
    borrowLimitItems() {
      return [
        {
          name: "Borrow Limit",
          fromValue: `${formatToCurrency(this.borrowLimit)}`,
          toValue: this.newBorrowLimit
            ? `${formatToCurrency(this.newBorrowLimit)}`
            : 0,
          info: this.supplyModalBorrowLimit
        },
        {
          name: "Borrow Limit Used",
          fromValue: `${formatToNumber(this.borowLimitUsed)}%`,
          toValue: this.hypotheticalBoromLimitUsed
            ? `${formatToNumber(this.hypotheticalBoromLimitUsed)}%`
            : 0,
          info: this.supplyModalBorrowLimitUsed
        }
      ];
    },
    maxButtonTooltip() {
      return {
        content:
          "Value may differ from your wallet's value, but don't worry, we will supply maximum under the hood.",
        offset: "25px"
      };
    }
  },
  methods: {
    ...mapActions("modal", [
      "closeModal",
      "setTransactionModal",
      "setCollateralModal"
    ]),
    formatBalance,
    setActiveTab(tab) {
      this.activeTab = tab;

      if (!this.isDisabled) {
        this.$refs.inputValue.focus();
      }
    },
    setMaxValue(value) {
      const isInvalidValue = !new RegExp(REG.NUMBER).test(value);

      this.inputValue = isInvalidValue
        ? String(value).substring(0, 16)
        : value || 0;
    },
    async isMarketExists() {
      const markets = await this.comptroller.getAllMarkets();

      return markets.includes(this.cToken);
    },
    async enable() {
      const isMarketExists = await this.isMarketExists();
      if (!isMarketExists) {
        this.$notify({ text: "Market is not available", type: "error" });
        return;
      }

      this.setTransactionModal({
        title: "Confirm Transaction",
        message: "Please proceed with wallet actions"
      });

      this.tokenContract
        .approve()
        .on("error", error => {
          this.$notify({
            text: `wallet returned an error: ${error.message}`,
            type: "error"
          });
        })
        .on("transactionHash", async hash => {
          this.onTransactionConfirm();
          await this.comptroller.waitForTransaction(hash);
          await this.onTransactionConfirmed();
        })
        .catch(this.closeModal);
    },
    onModalOpen() {
      if (this.isAllowed) {
        this.$refs.inputValue.focus();
      }
    },
    async allocate() {
      if (this.isEther) {
        const win = window.open("https://faucet.rinkeby.io", "_blank");
        win.focus();
      } else {
        this.setTransactionModal({
          title: "Confirm Transaction",
          message: "Confirm the transaction"
        });

        // we give user $1000 equivalent of token
        const usdValue = 1000 / this.tokenUsdValue;
        const value = await this.getValue(usdValue);
        const roundedValue = Big(value)
          .round()
          .toFixed();

        this.faucetContract
          .allocateTo(roundedValue)
          .on("transactionHash", async hash => {
            this.onTransactionConfirm();
            await this.comptroller.waitForTransaction(hash);
            this.onTransactionConfirmed();
          })
          .catch(error => {
            this.closeModal();
            this.$notify({ text: error, type: "error" });
          });
      }
    },
    async withdraw() {
      const inputValue = this.isMaxValueSet ? this.supplied : this.inputValue;
      const withdrawValue = await this.getValue(inputValue);
      // check if number is too small for transaction
      if (
        Big(withdrawValue)
          .times(1e18)
          .div(this.exchangeRateCurrent)
          .lt(1)
      ) {
        this.$notify({ text: "The value is too small", type: "error" });
        return;
      }

      this.setTransactionModal({
        title: "Confirm Transaction",
        message: "Confirm the transaction"
      });

      this.cTokenContract
        .withdraw(withdrawValue)
        .on("error", this.onTransactionError)
        .on("transactionHash", async hash => {
          this.onTransactionConfirm();
          await this.comptroller.waitForTransaction(hash);
          this.onTransactionConfirmed();
        })
        .catch(() => {
          this.closeModal();
        });
    },
    onTransactionConfirmed() {
      eventBus.$emit("market:refresh");
      this.closeModal();
      this.$notify({ text: "Transaction confirmed", type: "success" });
    },
    onTransactionConfirm() {
      this.setTransactionModal({
        title: "Transaction Pending",
        message: "Transaction broadcast"
      });
    },
    onTransactionError() {
      this.$notify({
        text: "Your transaction won't be processed",
        type: "error"
      });
    },
    async getValue(value) {
      const tokenDecimals = this.isEther
        ? 18
        : await this.tokenContract.getDecimals();
      const decimals = Big(10).pow(+tokenDecimals);

      return Big(value)
        .times(decimals)
        .toFixed();
    },
    async supply() {
      let gas = 0;
      const inputValue = this.isMaxValueSet ? this.balance : this.inputValue;

      let supplyValue = await this.getValue(inputValue);

      this.setTransactionModal({
        title: "Confirm Transaction",
        message: "Confirm the transaction"
      });

      if (this.isEther && this.isMaxValueSet) {
        const gasPrice = await web3.eth.getGasPrice();

        gas = await web3.eth.estimateGas({
          from: this.ethAccount,
          to: this.cToken,
          data: "0x1249c58b",
          value: supplyValue
        });

        const fee = gas * gasPrice;
        supplyValue = Big(supplyValue).minus(fee);
      }

      this.cTokenContract
        .supply(supplyValue, gas)
        .on("error", this.onTransactionError)
        .on("transactionHash", async hash => {
          this.onTransactionConfirm();
          await this.comptroller.waitForTransaction(hash);
          this.onTransactionConfirmed();
        })
        .catch(() => {
          this.closeModal();
        });
    }
  },
  async created() {
    const isEth = await isEther(this.cToken);
    this.comptroller = new Comptroller(this.ethAccount);
    this.tokenContract = new Token(
      this.token,
      this.cToken,
      this.ethAccount,
      isEth
    );
    this.cTokenContract = new Ctoken(this.cToken, this.ethAccount, isEth);
    this.faucetContract = new FaucetToken(
      this.token,
      this.cToken,
      this.ethAccount,
      true
    );
  }
};
</script>

<style lang="sass" scoped>
@import '@/styles/vars.sass'
@import "@/styles/modal.sass"

.header-row
  text-align: center
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  margin-bottom: 35px
  margin-top: 20px

  &__icon
    width: 70px
    height: 70px
    margin-bottom: 25px

  p
    font-size: 15px
    line-height: 21px
    color: $body
    +font(400)
    width: 100%
    max-width: 360px
    text-align: center
    margin: 0 auto

.tab-row
  display: flex
  flex-direction: row
  margin-top: 15px

  a
    width: 50%
    text-align: center
    display: flex
    justify-content: center
    border-color: rgba($limed_spruce, 0.1)
    border-width: 1px
    cursor: pointer

    span
      opacity: 0.3

    &:hover
      opacity: 1
      color: $secondary
      border-color: $secondary
      span
        opacity: 1
    &.active
      color: $secondary
      border-color: $secondary
      span
        opacity: 1

.bottom-row
  text-align: center
  margin-top: 15px
  margin-bottom: 10px

  span
    +font(600)
    font-size: 15px
    line-height: 21px
    color: $limed_spruce

    &.value
      font-size: 17px
      line-height: 26px
      color: $limed_spruce
      margin-left: 60px

.btn-row
  text-align: center
  margin-top: 15px

  @include mq($from: tablet)
    margin-top: 25px

.value-row
  display: flex
  flex-direction: row
  align-items: center
  justify-content: flex-end
  width: 100%
  margin-top: 10px

  @include mq($from: tablet)
    margin-top: 25px

  &-label
    position: absolute
    +font(600)
    font-size: 12px
    line-height: 16px
    color: #000000
    opacity: 0.3
    flex-shrink: 0
    margin-right: 20px
    margin-left: 15px
    cursor: pointer
    &:hover
      color: $secondary
      opacity: 1

    @include mq($from: tablet)
      font-size: 15px
      margin-right: 30px

  ::v-deep .field
    width: 100%

    input
      text-align: center
      padding: 0px 63px
      min-height: 60px
      +font(600)
      font-size: 35px
      opacity: 0.3
      color: $limed_spruce

      @include mq($from: tablet)
        min-height: 75px
        padding: 0px 70px

  ::v-deep .field.filled
    input
      opacity: 0.8
      color: $secondary

.wallet-balance
  display: flex
  align-items: center
  justify-content: center
  padding: 0 10px

  @include mq($until: tablet)
    span,
    span.value
      font-size: 12px
</style>
