<template>
  <BaseModal
    @opened="$refs.inputValue.focus()"
    :title="symbol"
    :value="value"
    v-on="$listeners"
    v-bind="$attrs"
    arrow-title
  >
    <div class="header-row" v-if="isDisabled && !isEther">
      <img
        class="header-row__icon"
        :src="require(`@/assets/icons/${symbol}.svg`)"
        alt="token icon"
      />
      <p>
        To Supply or Repay {{ symbol }} to the Unfederal Protocol, you need to
        enable it first.
      </p>
    </div>
    <div class="value-row" v-show="!isDisabled | isEther">
      <BaseInput
        :filter="numberFilter"
        v-model="inputValue"
        ref="inputValue"
        placeholder="0"
        type="string"
        solo
      />
      <div v-if="isBorrowTab" class="value-row-label" @click="setMaxBorrow">
        <p>80%</p>
        <p>Limit</p>
      </div>

      <div
        v-else
        @click="setMaxValue(borrowing.toFixed())"
        class="value-row-label"
      >
        Max
      </div>
    </div>
    <div class="tab-row">
      <a @click="setActiveTab(tabs.borrow)" :class="{ active: isBorrowTab }">
        <span>Borrow</span>
      </a>
      <a @click="setActiveTab(tabs.repay)" :class="{ active: isRepayTab }">
        <span>Repay</span>
      </a>
    </div>
    <div class="tabs-content">
      <div class="item">
        <BaseValueList title="Borrow Rates" :list="borrowRatesItems" icon />
        <BaseValueList title="Borrow limit" :list="borrowLimitItems" />

        <div class="bottom">
          <div v-if="isBorrowTab" class="btn-row">
            <BaseBtn :disabled="isBorrowDisabled" @click="borrow()">
              {{ borrowText }}
            </BaseBtn>
          </div>
          <div v-else class="btn-row">
            <BaseBtn
              v-if="!isDisabled || isEther"
              :disabled="isRepayDisabled"
              @click="repay()"
              >{{ repayText }}
            </BaseBtn>
            <BaseBtn v-else @click="enable">
              Enable
            </BaseBtn>
          </div>

          <div v-if="isBorrowTab" class="bottom-row wallet-balance">
            <span>Currently Borrowing</span>
            <span class="value">
              {{ formatBalance(borrowing) || 0 }} {{ symbol }}
            </span>
          </div>
          <div v-else class="bottom-row wallet-balance">
            <span>Wallet balance</span>
            <span class="value">
              {{ formatBalance(balance) }} {{ symbol }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </BaseModal>
</template>

<script>
/* eslint-disable */
import { mapActions, mapGetters } from "vuex";
import BaseModal from "@/components/Base/BaseModal";
import BaseBtn from "@/components/Base/BaseBtn.vue";
import BaseValueList from "@/components/Base/BaseValueList";
import BaseInput from "@/components/Base/BaseInput";
import {
  Ctoken,
  Comptroller,
  Token,
  isEther
} from "@/global/ContractsAPI";
import Big from "big.js";
import eventBus from "@/global/eventBus";
import {
  formatToCurrency,
  formatToNumber,
  formatBalance
} from "@/global/utils";
import { MAX_UINT_256, REG } from "@/config/constants";
import { inputNumbers } from "@/mixins/inputNumbers";
import { infoTooltips } from "@/mixins/infoTooltips";


Big.RM = 0;
const TABS = { borrow: 1, repay: 2 };

export default {
  name: "BorrowModal",
  components: {
    BaseModal,
    BaseBtn,
    BaseValueList,
    BaseInput
  },
  props: {
    symbol: String,
    name: String,
    value: Boolean,
    token: String,
    cToken: String,
    enteredMarket: Boolean,
    ethAccount: String,
    balance: Object,
    borrowing: Object,
    tokenUsdValue: Number,
    borrowApy: Number,
    distributionApy: Number,
    isAllowed: Boolean,
    liquidity: Number,
  },
  data() {
    return {
      activeTab: TABS.borrow,
      tabs: TABS,
      inputValue: '',
      cTokenContract: null,
      maxBorrowValue: 0,
      numberFilter: REG.NUMBER_INPUT
    };
  },
  mixins: [inputNumbers, infoTooltips ],
  computed: {
    ...mapGetters("modal", ["props"]),
    ...mapGetters("global", ["totalBorrow", "borrowLimit"]),

    isDisabled() {
      return this.isRepayTab && !this.isAllowed && !this.isEther;
    },
    isBorrowTab() {
      return this.activeTab === TABS.borrow;
    },
    isRepayTab() {
      return this.activeTab === TABS.repay;
    },
    repayText() {
      if (this.borrowing.lt(+this.inputValue)) return "Value can't exceed borrowed amount";

      return this.balance.lt(+this.inputValue)
        ? 'Insufficient wallet balance'
        : 'Repay';
    },
    borrowText() {
      if (this.borrowLimitUsed >= 100) {
        return 'Borrowing limit reached';
      }

      if (!this.isEnoughLiquidity) {
        return 'Not enough tokens available on the market';
      }

      if (
        !this.borrowLimit ||
        this.borrowLimitUsed >= 100 ||
        this.hypotheticalBoromLimitUsed >= 100
      ) {
        return 'Insufficient collateral';
      } else {
        return 'Borrow';
      }
    },
    isRepayDisabled() {
      return !Number(this.inputValue) ||
        this.balance.lt(+this.inputValue) ||
        this.borrowing.lt(+this.inputValue)
    },
    isEnoughLiquidity() {
      return this.inputValueUsd <= this.liquidity;
    },
    isBorrowDisabled() {
      return !Number(this.inputValue) ||
        !this.borrowLimit ||
        !this.isEnoughLiquidity ||
        this.borrowLimitUsed >= 100 ||
        this.hypotheticalBoromLimitUsed >= 100;
    },
    inputValueUsd() {
      return this.inputValue * this.tokenUsdValue;
    },
    borrowBalance() {
      if (this.isBorrowTab) {
        return !this.inputValue ? 0 : this.inputValueUsd + this.totalBorrow;
      }

      return !this.inputValue ? 0 : this.totalBorrow - this.inputValueUsd;
    },
    currentDistributionApy() {
      if (this.distributionApy && typeof this.distributionApy === "number") {
        return this.distributionApy.toFixed(2);
      }

      return 0;
    },
    borrowLimitUsed() {
      if (this.borrowLimit) {
        const limit = (this.totalBorrow / this.borrowLimit) * 100;
        return parseFloat(limit.toFixed(2));
      }

      return 0;
    },
    hypotheticalBoromLimitUsed() {
      if (!this.borrowLimit) return 0;

      const limit = (this.borrowBalance / this.borrowLimit) * 100;

      return limit > 100 ? 100 : parseFloat(limit.toFixed(2));
    },
    borrowRatesItems() {
      return [
        {
          icon: this.symbol,
          name: "Borrow APY",
          fromValue: `${formatToNumber(this.borrowApy)}%`,
          info: this.borrowModalSupplyApy
        },
        {
          icon: 'base',
          name: "Distribution APY",
          fromValue: `${formatToNumber(this.currentDistributionApy)}%`,
          info: this.borrowModalDistributionApy
        },

      ];
    },
    borrowLimitItems() {
      return [
        {
          name: "Borrow Balance",
          fromValue: `${formatToCurrency(this.totalBorrow)}`,
          toValue: this.borrowBalance ? `${formatToCurrency(this.borrowBalance)}`: 0,
          info: this.borrowModalBorrowBalance
        },
        {
          name: "Borrow Limit Used",
          fromValue: `${formatToNumber(this.borrowLimitUsed)}%`,
          toValue: this.inputValue ? `${formatToNumber(this.hypotheticalBoromLimitUsed)}%`: 0,
          info: this.borrowModalBorrowLimitUsed
        },

      ];
    },
    isEther() {
      return this.symbol === "ETH";
    },
    isMaxValueSet() {
      return this.borrowing.toFixed().substring(0, 16) == this.inputValue;
    },
  },
  methods: {
    ...mapActions("modal", ["closeModal", "setTransactionModal", "setCollateralModal"]),

    formatBalance,
    setActiveTab(tab) {
      this.activeTab = tab;

      if(this.isDisabled) {
        this.inputValue = '';
      } else {
        this.$refs.inputValue.focus();
      }
    },
    setMaxValue(value) {
      const isInvalidValue = !new RegExp(REG.NUMBER).test(value);

      this.inputValue = isInvalidValue
        ? String(value).substring(0, 16)
        : value || 0;
    },
    onTransactionConfirmed() {
      eventBus.$emit("market:refresh");
      this.closeModal();
      this.$notify({ text: 'Transaction confirmed', type: 'success' });
    },
    onTransactionConfirm() {
      this.setTransactionModal({
        title: 'Transaction Pending',
        message: 'Transaction broadcast'
      });
    },
    onTransactionError() {
      this.$notify({
        text: "Your transaction won't be processed",
        type: "error"
      });
    },
    setMaxBorrow() {
      if (!this.borrowLimit) {
        this.inputValue = "0";
      } else {
        const maxBorrow = ((this.borrowLimit * 0.8) - this.totalBorrow) / this.tokenUsdValue;
        this.inputValue = this.borrowLimitUsed >= 80 ? 0 : maxBorrow.toFixed(6);
      }
    },
    async isMarketExists() {
      const markets = await this.comptroller.getAllMarkets();

      return markets.includes(this.cToken);
    },
    async getValue(value) {
      const tokenDecimals = this.isEther
        ? 18
        : await this.tokenContract.getDecimals();
      const decimals = Big(10).pow(+tokenDecimals);

      return Big(value).times(decimals).toFixed();
    },
    async enable() {
      const isMarketExists = await this.isMarketExists();
      if (!isMarketExists) {
        this.$notify({ text: "Market is not available", type: "error" });
        return;
      }

      this.setTransactionModal({
        title: "Confirm Transaction",
        message: "Please proceed with wallet actions"
      });

      this.tokenContract
        .approve()
        .on("error", error => {
          this.$notify({
            text: `Wallet returned an error: ${error.message}`,
            type: "error"
          });
        })
        .on("transactionHash", async hash => {
          this.onTransactionConfirm();
          await this.comptroller.waitForTransaction(hash);
          await this.onTransactionConfirmed();
        })
        .catch(this.closeModal);
    },
    async borrow() {
      const isMarketExists = await this.isMarketExists();

      if (!isMarketExists) {
        this.$notify({ text: 'Market is not available', type: 'error' });

        return;
      }

      const borrowValue = await this.getValue(this.inputValue);

      this.setTransactionModal({
        title: 'Confirm Transaction',
        message: 'Confirm the transaction'
      });

      this.cTokenContract
        .borrow(borrowValue)
        .on("error", this.onTransactionError)
        .on("transactionHash", async hash => {
          this.onTransactionConfirm()
          await this.comptroller.waitForTransaction(hash)
          await this.onTransactionConfirmed()
        })
        .catch(this.closeModal);
    },
    async repay() {
      const repayValue = this.isMaxValueSet && !this.isEther
        ? MAX_UINT_256
        : await this.getValue(this.inputValue);

      this.cTokenContract
        .repayBorrow(repayValue)
        .on("error", this.onTransactionError)
        .on("transactionHash", async hash => {
          this.onTransactionConfirm()
          await this.comptroller.waitForTransaction(hash)
          this.onTransactionConfirmed()
        })
        .catch(() => {
          this.closeModal();
        })
    },
  },
  async created() {
    const isEth = await isEther(this.cToken);
    this.tokenContract = new Token(this.token, this.cToken, this.ethAccount, isEth);
    this.cTokenContract = new Ctoken(this.cToken, this.ethAccount, isEth);
    this.comptroller = new Comptroller(this.ethAccount);
  }
};
</script>

<style lang="sass" scoped>
@import '@/styles/vars.sass'
@import "@/styles/modal.sass"

.header-row
  text-align: center
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  margin-bottom: 35px
  margin-top: 20px

  &__icon
    width: 70px
    height: 70px
    margin-bottom: 25px

  p
    font-size: 15px
    line-height: 21px
    color: $body
    +font(400)
    width: 100%
    max-width: 360px
    text-align: center
    margin: 0 auto

.tab-row
  display: flex
  flex-direction: row
  margin-top: 15px

  a
    width: 50%
    text-align: center
    display: flex
    justify-content: center
    border-color: rgba($limed_spruce, 0.1)
    border-width: 1px
    cursor: pointer

    span
      opacity: 0.3

    &:hover
      opacity: 1
      color: $secondary
      border-color: $secondary
      span
        opacity: 1
    &.active
      color: $secondary
      border-color: $secondary

      span
        opacity: 1

.bottom-row
  text-align: center
  margin-top: 15px
  margin-bottom: 10px

  @include mq($from: tablet)
    margin-top: 25px

  span
    +font(600)
    font-size: 13px
    line-height: 21px
    color: $limed_spruce

    @include mq($from: tablet)
      font-size: 15px

    &.value
      font-size: 14px
      line-height: 26px
      color: $limed_spruce
      margin-left: 50px

      @include mq($from: tablet)
        font-size: 17px
        margin-left: 60px

.btn-row
  text-align: center
  margin-top: 25px

.value-row
  display: flex
  flex-direction: row
  align-items: center
  justify-content: flex-end
  width: 100%
  margin-top: 10px

  @include mq($from: tablet)
    margin-top: 25px

  &-label
    position: absolute
    +font(600)
    font-size: 12px
    line-height: 16px
    color: #000000
    opacity: 0.3
    flex-shrink: 0
    margin-right: 20px
    margin-left: 15px
    cursor: pointer

    &:hover
      color: $secondary
      opacity: 1

    @include mq($from: tablet)
      font-size: 15px
      margin-right: 30px

  ::v-deep .field
    width: 100%

    input
      padding: 0px 63px
      min-height: 60px
      +font(600)
      font-size: 35px
      opacity: 0.3
      color: $limed_spruce

      @include mq($from: tablet)
        min-height: 75px
        padding: 0px 70px

  ::v-deep .field.filled
    input
      opacity: 0.8
      color: $secondary

.wallet-balance
  display: flex
  align-items: center
  justify-content: center
  padding: 0 10px

  @include mq($until: tablet)
    span,
    span.value
      font-size: 12px
</style>
