<template>
  <div id="app">
    <BaseSpinner :value="loader"></BaseSpinner>
    <TheHeader />

    <div class="content">
      <router-view />
    </div>

    <TheModal />
    <TheFooter />
    <notifications position="top center" classes="un-notification" />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import TheHeader from "@/components/TheHeader/TheHeader";
import TheFooter from "@/components/TheFooter/TheFooter";
import TheModal from "@/components/TheModal/TheModal";
import BaseSpinner from "@/components/Base/BaseSpinner";

export default {
  components: {
    TheHeader,
    TheFooter,
    TheModal,
    BaseSpinner
  },
  computed: {
    ...mapGetters("global", ["loader"])
  },
  mounted() {
    if (window.location.href.includes("finance-dev.erc721.tech")) {
      window.location.replace(
        "https://ledger-dev.unfederalreservetesting.com/"
      );
    }
  }
};
</script>

<style lang="sass">
@import 'styles/index.sass'
#app
  font-family: 'Poppins', sans-serif
  flex: 1 1 auto
  backface-visibility: hidden
  display: flex
  flex-direction: column
  min-height: 100vh
  max-width: 100%
  justify-content: space-between
  background: radial-gradient(50.69% 160.2% at 50.69% 35.44%, #FFFFFF 0%, #EFF6FF 100%,)

.snackbar
  z-index: 9999

.vue-notification-group
  width: fit-content !important
  top: 20px !important
  transform: translateX(-50%)
  left: 50% !important

.un-notification
  font-family: 'Poppins', sans-serif
  font-size: 16px
  color: #fff
  padding: 1rem
  border-radius: 4px

  &.error
    background: #353535
    color: #F35454

  &.success
    background: #353535
    color: #fff
</style>
